.general-container {
  align-items: center;
  background-color: #d9d9d9;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.container {
  background-color: aliceblue;
  border-radius: 7px;
  box-shadow: 2px 2px 4px 4px gray;
  display: flex;
  height: 80%;
  margin-top: 40px;
  padding: 20px;
  width: auto;
}

.album-info {
  align-items: center;
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
  padding: 15px;
  text-align: center;
  width: 250px;
}

.album-info img {
  border-radius: 5px;
  margin-bottom: 5px;
  width: 100px;
}

.artist-name {
  margin-bottom: 30px;
}

.musics {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
