.music-card-container {
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  width: auto;
}

.checkbox-music {
  cursor: pointer;
  position: relative;
  width: 50px;
}

.checkbox-music input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.music-card-container p {
  width: 250px;
}
